{% extends 'base.html' %}

{% block content %}
    <style>
        .chart-container {
            height: 0;
            padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
            position: relative;
            width: 100%;
        }

        @media (max-width: 768px) {
            .card-body {
                height: 700px;
                overflow: scroll;
            }
        }

        @media (max-width: 576px) {
            .card-body {
                height: 600px; /* Further adjust height for extra small screens */
                overflow: scroll;
            }
        }
    </style>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-11 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="chart-container" id="chart-container">
                            {{ chart_html|safe }}
                        </div>
                        {% if message %}
                            <div class="alert alert-info mt-3">
                                {{ message }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function reloadDOM() {
            $.ajax({
                url: window.location.href,  // Current page URL
                type: 'GET',
                success: function (data) {
                    document.open();  // Clear current DOM
                    document.write(data);  // Write the new DOM content
                    document.close();  // Close the document stream to render the new content
                },
                error: function (error) {
                    console.error('Error refreshing content:', error);
                }
            });
        }

        // Initial delay of 5 seconds, then reload the DOM every 10 seconds
        setTimeout(function () {
            reloadDOM();  // Initial load after the delay
            setInterval(reloadDOM, 10000);  // Continue to reload every 10 seconds
        }, 5000);  // Delay of 5 seconds before the first reload
    </script>

{% endblock %}
